@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');

/* ver https://getbootstrap.com/docs/5.1/customize/css-variables */

:root{
	--bs-body-font-family: 'Roboto Slab', serif;
	--bs-body-font-weight: 400;
}

h1,h2,h4,h5,h6{
	font-weight: 700;
}

h1{
	color: #f9f9f9;
}

h3{
	font-size: calc(2rem + 3vw) ;
	font-weight: 300;
}

@keyframes shake-it-off {
  0% { transform:scale(0.98) }
  100% { transform:scale(1.05) }
}

h3.movido:hover {
	animation: shake-it-off .2s infinite;
}

a{
	color: #002171;
	font-weight: 300;
}

footer a {
	color: #f9f9f9;
}

a:hover {
	color: #002171;
	text-decoration: none;
}

footer a:hover {
	color: #f9f9f9;
}